<!DOCTYPE html>
<html>
<head>
  <title>About Dictionary App</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% include 'header.html' %}
  <div class="search-container">
  <div class="about-results" id="about-results" style="font-size: 20px;">
    <p>This is a simple dictionary app that provides definitions and pronunciations of English words. It uses the <a href="https://api.dictionaryapi.dev/api/v2/entries/en/<word>">Dictionary API</a> to fetch the data.</p>
      <p>Here is the source code of the Project - <a href="https://github.com/devdigger/Simple-Dict-WebApp" target="_blank">Simple-Dict-WebApp</a></p>
      <p>More features will be added to the app in the future to enhance the user experience and provide additional functionality.</p>    
  </div>
</div>
  <script src="{% static 'scripts.js' %}" >
  </script>
</body>
</html>
