<!DOCTYPE html>
<html>
<head>
    <title>
        Dictionary App
        {% load static %}
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% include 'header.html' %}
    
    <form id="search-form" class="search-form">
        {% csrf_token %} 
        <input type="text" id="search-input" class="search-input" placeholder="Enter a word">
        <button id="search-button" class="search-button" type="submit">Search</button>
    </form>

    <div class="loading" style="display: none;">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>    

    <div class="search-container">
        <button class="close-btn" id="close-btn" onclick="clearResults()"></button>
        <div class="search-results" id="search-results">
        </div>
    </div>
    

    <script src="{% static 'scripts.js' %}" >
    </script>
</body>
</html>
